.main-verif {
    border-radius: 15px;
    border-style: solid;
    border-color: #fba605 #e4e6fc #e4e6fc #e4e6fc;
}

.info {
    text-align: justify;
}

.s-info {
    background-color: #004181;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 800;
    border-radius: 15px 0 0 15px;
}

.m-desc {
    /* background-color: white; */
    backdrop-filter: blur(25px);
    font-size: 14px;
    font-style: italic;
    border: solid 1px white;
    border-radius: 0 15px 15px 0;
}

.p-main-title,
.p-sub-title {
    background-color: #004181;
    border: solid 2px #004181;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.p-main-title {
    border-radius: 15px 15px 0 0;
}

.p-sub-title {
    border-radius: 15px;
}

.p-main {
    background-color: white;
    border-radius: 0 0 15px 15px;
    font-size: 14px;
}

.i-not {
    font-size: 25px;
}

/* .grayscale {
    filter: grayscale(100%);
} */

.list-berkas {
    max-height: 500px;
    overflow-y: scroll;
}

.list-berkas::-webkit-scrollbar {
    display: none;
}

.p-sub,
.p-sub a {
    color: black !important;
    background-color: white;
    border-radius: 15px;
    font-size: 14px;
    text-align: start;
}

.p-sub a:hover {
    color: #004181 !important;
    text-decoration: none;
}

.p-det {
    font-size: 12px;
}
