.p-main-title {
    background-color: #004181;
    border: solid 2px #004181;
    color: white;
    font-size: 18px;
    font-weight: 800;
    border-radius: 15px 15px 0 0;
}

.p-t {
    font-size: 16px;
    font-weight: 800;
}

.p-ujian {
    background-color: white;
    border-radius: 15px;
}

.p-ujian-n {
    background-color: white;
    border-radius: 15px;
    height: 380px;
}

.p-ujian-b {
    position: sticky;
    bottom: 0;
}

.soal-n {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
}

.p-main {
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.p-title {
    font-size: 16px;
    font-weight: 700;
}

label {
    font-size: 14px;
}

.f-icon {
    color: #004181;
    border: 1px solid;
    border-color: #e4e6fc;
    background-color: #fdfdff;
    border-radius: 15px 0 0 15px;
    background-color: #fdfdff;
    padding: 12px 10px;
}

.form-login {
    border-radius: 0 20px 20px 0 !important;
}

.form-login:focus {
    border-color: #e4e6fc !important;
}

.form-control {
    background-color: #fdfdff;
    border-color: #e4e6fc;
    border-radius: 20px;
}

.form-control:focus {
    background-color: #fefeff;
    border-color: #95a0f4;
    box-shadow: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="password"],
select {
    font-size: 14px !important;
    height: 42px;
}

.feed {
    font-size: 12px !important;
}

.form-control.is-invalid {
    border-color: #95a0f4;
}

.form-control.is-invalid:focus {
    border-color: #95a0f4;
    box-shadow: none;
}

.btn-success:hover {
    box-shadow: none !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #cdd3d8;
    border-color: #cdd3d8;
    box-shadow: none !important;
}

.btn-secondary:hover {
    background-color: #c2c6ca;
    box-shadow: none !important;
    border-color: #c2c6ca;
}

.btn-secondary:disabled {
    background-color: #cdd3d8;
    border-color: #cdd3d8;
    box-shadow: none !important;
}

.btn-save {
    color: white;
    background-color: #004181 !important;
    border-radius: 15px;
    box-shadow: none !important;
}

.btn-save:active {
    color: white;
    box-shadow: none !important;
    background-color: #004181;
}

.btn-save:hover {
    color: white;
    background-color: #1469bd !important;
}

.btn-alert {
    color: white;
    background-color: #3eac57 !important;
    box-shadow: none !important;
}

.btn-alert:active {
    color: white;
    background-color: #3eac57 !important;
    box-shadow: none !important;
}

.btn-wrong {
    color: white;
    background-color: #dc3545 !important;
    box-shadow: none !important;
    /* margin-top: auto; */
}

.btn-wrong:active {
    color: white;
    background-color: #dc3545 !important;
    box-shadow: none !important;
}

.btn-wrong:hover {
    color: white;
    background-color: #d12839 !important;
    box-shadow: none !important;
}

.card {
    border-radius: 20px;
    border-width: 5px 1px 1px 1px;
    border-style: solid;
    border-color: #fba605 #e4e6fc #e4e6fc #e4e6fc;
}

.text-pre {
    font-size: 16px;
    font-weight: 700;
}

.s-pre-n {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.s-pre {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.text-c {
    color: red;
    font-size: 11px;
}

.text-b {
    color: black;
    font-size: 11px;
}

.table.table-md th,
.table.table-md td {
    color: #666;
    padding: 7px 15px;
    font-size: 14px;
}
.p-d {
    font-size: 15px !important;
}

.p-choice {
    font-size: 14px;
}

.btn-choice {
    height: fit-content;
    border: 1px solid;
    border-color: #004181;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #004181;
}

.btn-choice:active,
.btn-choice:focus {
    color: white !important;
    background-color: #004181 !important;
    border-color: #004181 !important;
    box-shadow: none !important;
}

.active {
    color: white !important;
    background-color: #004181 !important;
    box-shadow: none !important;
}

.active-number {
    color: white !important;
    background-color: #3eac57 !important;
    border-color: #2ca548 !important;
    box-shadow: none !important;
}
