.p-main-title {
    background-color: #004181;
    border: solid 2px #004181;
    color: white;
    font-size: 18px;
    font-weight: 800;
    border-radius: 15px 15px 0 0;
}

.p-main {
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.p-title {
    font-size: 16px;
    font-weight: 700;
}

label {
    font-size: 14px;
}

.form-control {
    background-color: #fdfdff;
    border-color: #e4e6fc;
    border-radius: 20px;
}

.form-control:focus {
    background-color: #fefeff;
    border-color: #95a0f4;
    box-shadow: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
select {
    font-size: 14px !important;
    height: 42px;
}

.feed {
    font-size: 12px !important;
}

.form-control.is-invalid {
    border-color: #95a0f4;
}

.form-control.is-invalid:focus {
    border-color: #95a0f4;
    box-shadow: none;
}
