.p-main-title {
    background-color: #004181;
    border: solid 2px #004181;
    color: white;
    font-size: 18px;
    font-weight: 800;
    border-radius: 15px 15px 0 0;
}

.p-main {
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.p-title {
    font-size: 16px;
    font-weight: 700;
}

label {
    font-size: 14px;
}

.f-icon {
    font-size: 20px;
    color: #004181;
}

.form-control {
    background-color: #fdfdff;
    border-color: #e4e6fc;
    border-radius: 20px;
}

.form-control:focus {
    background-color: #fefeff;
    border-color: #95a0f4;
    box-shadow: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="password"],
select {
    font-size: 14px !important;
    height: 42px;
}

.feed {
    font-size: 12px !important;
}

.form-control.is-invalid {
    border-color: #95a0f4;
}

.form-control.is-invalid:focus {
    border-color: #95a0f4;
    box-shadow: none;
}

.btn-save {
    color: white;
    background-color: #004181 !important;
    border-radius: 15px;
}

.btn-save:active {
    color: white;
    background-color: #004181;
}

.btn-alert {
    color: white;
    background-color: #3eac57 !important;
    box-shadow: none !important;
}

.btn-alert:active {
    color: white;
    background-color: #3eac57 !important;
    box-shadow: none !important;
}

.btn-wrong {
    color: white;
    background-color: #eb2a2a !important;
    box-shadow: none !important;
}

.btn-wrong:active {
    color: white;
    background-color: #eb2a2a !important;
    box-shadow: none !important;
}

.btn-save:hover {
    color: white;
    background-color: #0252a1;
}

.card {
    border-radius: 20px;
    border-width: 5px 1px 1px 1px;
    border-style: solid;
    border-color: #fba605 #e4e6fc #e4e6fc #e4e6fc;
}

.text-pre {
    font-size: 16px;
    font-weight: 700;
}

.s-pre-n {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.s-pre {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.text-c {
    color: red;
    font-size: 11px;
}
